<%= if @authorized? do %>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" phx-click="garage_door">
    Garage Door
  </button>
<% else %>
  <h1 id="no-access">No Access!</h1>
<% end %>
