<h1>Hello</h1>

<canvas id="mnist_sketchpad" height="320" width="320" phx-hook="MnistDraw" />

<button id="mnist_clear">Clear</button>
<button id="mnist_guess">Guess</button>

<canvas id="mnist_resized" height="28" width="28" />