<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h3>tags</h3>
        <div id="tag-cloud">
          {{ site | tag_cloud }}
        </div>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <a href="http://showoff.riesd.com/">
          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <style>
              @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
              }
              .pupil {
                -webkit-transform-origin: 100% 120%;
                -webkit-animation: spin 1s cubic-bezier(1,0,0.5,1) 0s infinite;
              }
            </style>
            <rect fill="lightgreen" height="100" width="100" x="0" y="0"></rect>
            <circle cx="50" cy="130" r="80"></circle>
            <circle cx="50" cy="130" fill="grey" r="60"></circle>
            <g>
              <circle cx="22" cy="22" r="15"></circle>
              <circle cx="22" cy="22" fill="grey" r="9"></circle>
            </g>
            <g transform="translate(55,0)">
              <circle cx="22" cy="22" r="15"></circle>
              <circle cx="22" cy="22" fill="grey" r="9"></circle>
            </g>
            <polygon fill="black" points="5.00000000000000000000e+01 9.17000000000000028422e+01 7.73650324319193885003e+01 8.03650324319193885003e+01 8.87000000000000028422e+01 5.30000000000000000000e+01 7.73650324319193885003e+01 2.56349675680806114997e+01 5.00000000000000071054e+01 1.42999999999999971578e+01 2.26349675680806114997e+01 2.56349675680806043943e+01 1.12999999999999971578e+01 5.29999999999999928946e+01 2.26349675680806043943e+01 8.03650324319193885003e+01"></polygon>
            <polygon fill="lightgrey" points="5.00000000000000000000e+01 9.00000000000000000000e+01 7.82842712474619020213e+01 7.82842712474619020213e+01 9.00000000000000000000e+01 5.00000000000000000000e+01 7.82842712474619020213e+01 2.17157287525381015314e+01 5.00000000000000071054e+01 1.00000000000000000000e+01 2.17157287525381015314e+01 2.17157287525380908733e+01 1.00000000000000000000e+01 4.99999999999999928946e+01 2.17157287525380908733e+01 7.82842712474619020213e+01"></polygon>
            <g>
              <circle cx="35" cy="40" r="10"></circle>
              <circle cx="35" cy="40" fill="white" r="4"></circle>
              <circle class="pupil" cx="33" cy="38" r="2"></circle>
            </g>
            <g transform="translate(30,0)">
              <circle cx="35" cy="40" r="10"></circle>
              <circle cx="35" cy="40" fill="white" r="4"></circle>
              <circle class="pupil" cx="33" cy="38" r="2"></circle>
            </g>
            <polygon points="5.00000000000000000000e+01 6.60000000000000000000e+01 5.77942286340599480354e+01 5.25000000000000000000e+01 4.22057713659400519646e+01 5.25000000000000000000e+01"></polygon>
            <rect fill="black" height="2" transform="rotate(170, 50,71)" width="20" x="38" y="70"></rect>
            <rect fill="black" height="1" width="20" x="25" y="28"></rect>
            <rect fill="black" height="1" transform="rotate(195, 66,28)" width="20" x="55" y="28"></rect>
          </svg>
        </a>
      </div>
    </div>

  </div>

</footer>


